---
---
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>BIO10 |Agrobiotech PTY LTD</title>
	<!-- Stylesheets -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/revolution-slider.css" rel="stylesheet">
	<link href="css/style.css?id=1" rel="stylesheet">
	<!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link href="css/responsive.css" rel="stylesheet">
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
<div class="page-wrapper">

	<!-- Preloader -->
	<div class="preloader"></div>

	{% include header.html active="contact" %}

	<!--Page Title-->
	<section class="page-title" style="background-image:url(images/background/page-title-bg.jpg);">
		<div class="auto-container">
			<div class="sec-title">
				<h1>Contact <span class="normal-font">Us</span></h1>
				<div class="bread-crumb"><a href="/">Home</a> / <a href="#" class="current">Contact Us</a></div>
			</div>
		</div>
	</section>


	<!--Default Section / Other Info-->
	<section class="default-section other-info">
		<div class="auto-container">
			<div class="row clearfix">

				<!--Info Column-->
				<div class="column info-column col-lg-5 col-md-6 col-sm-12 col-xs-12">
					<article class="inner-box">
						<h3 class="margin-bott-20">Our Address</h3>
						<div class="text margin-bott-40">Stay in touch with us</div>
						<ul class="info-box">
							<li><span class="icon flaticon-location"></span><strong>Address</strong>7 Davo Court, QLD 4220, Australia </li>
							<li><span class="icon flaticon-technology-5"></span><strong>Phone</strong> <a href="tel:0755934441">(07) 5593 4441</a></li>
							<li><span class="icon flaticon-interface-1"></span><strong>Email</strong> <a href="mailto:info@bio10.com.au">info@bio10.com.au</a></li>
						</ul>
					</article>
				</div>

				<!--Image Column-->
				<div class="column image-column col-lg-7 col-md-6 col-sm-12 col-xs-12">
					<article class="inner-box">
						<figure class="image-box"><img src="images/resource/featured-image-34.jpg" alt=""></figure>
					</article>
				</div>

			</div>
		</div>
	</section>


	<!--Contact Section-->
	<section class="contact-section no-padd-top">
		<div class="auto-container">
			<div class="row clearfix">

				<!--Map Column-->
				<div class="column map-column">
					<h2>Our Location on Map</h2>

					<article class="inner-box">
						<!--Map Container-->
						<div class="map-container" style="text-align: center;">
							<!--Map Canvas-->
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3519.382123235507!2d153.4119315877409!3d-28.104384182040903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b91031f48685a49%3A0x532421a58f1779eb!2s7%20Davo%20Ct%2C%20Burleigh%20Heads%20QLD%204220!5e0!3m2!1sen!2sau!4v1725254451203!5m2!1sen!2sau" width="800" height="300" style="border:0; display: inline-block;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</article>

				</div>

			</div>
		</div>
	</section>

	{% include footer.html %}
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>

<!-- /.modal -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/revolution.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
</body>
</html>
