---
---
<!DOCTYPE html>
<html>
<head>
	{% include head.html title="Projects" %}
</head>

<body>
<div class="page-wrapper">

	<!-- Preloader -->
	<div class="preloader"></div>

	{% include header.html active="projects" %}

	<!--Page Title-->
	<section class="page-title" style="background-image:url(images/background/page-title-bg.jpg);">
		<div class="auto-container">
			<div class="sec-title">
				<h1>Our <span class="normal-font">Projects</span></h1>
				<div class="bread-crumb"><a href="/">Home</a> / <a href="/projects.html" class="current">Projects</a></div>
			</div>
		</div>
	</section>


	<!--Projects Section-->
	<section class="projects-section">
		<div class="auto-container">

			<div class="row clearfix">

				<!--Default Featured Column-->
				<div class="column default-featured-column col-md-3 col-sm-6 col-xs-12">
					<article class="inner-box">
						<figure class="image-box">
							<a href="projects/bio10-protect/"><img src="images/resource/b10-protect-tumb.jpg" alt=""></a>
						</figure>
						<div class="content-box">
							<h3 class="clamp-1"><a href="projects/bio10-protect/">Bio10-Protect  </a></h3>
							<div class="column-info clamp-1">Pest Insect Management</div>
							<div class="text clamp-3">In modern agriculture, the need for sustainable and effective pest management solutions has...</div>
							<a href="projects/bio10-protect/" class="theme-btn btn-style-three">Learn More</a>
						</div>
					</article>
				</div>

				<!--Default Featured Column-->
				<div class="column default-featured-column col-md-3 col-sm-6 col-xs-12">
					<article class="inner-box">
						<figure class="image-box">
							<a href="projects/bio10-kane/"><img src="images/resource/b10kane-tumb.jpg" alt=""></a>
						</figure>
						<div class="content-box">
							<h3 class="clamp-1"><a href="projects/bio10-kane/">BIO10-KANE</a></h3>
							<div class="column-info clamp-1">Pest Insect Management</div>
							<div class="text clamp-3">In modern agriculture, the need for sustainable and effective pest management solutions has...</div>
							<a href="projects/bio10-kane/" class="theme-btn btn-style-three">Learn More</a>
						</div>
					</article>
				</div>

				<!--Default Featured Column-->
				<div class="column default-featured-column col-md-3 col-sm-6 col-xs-12">
					<article class="inner-box">
						<figure class="image-box">
							<a href="projects/bio10-blanca/"><img src="images/resource/b10Blanca-tumb.jpg" alt=""></a>
						</figure>
						<div class="content-box">
							<h3 class="clamp-1"><a href="projects/bio10-blanca/">Bio10 Blanca</a></h3>
							<div class="column-info clamp-1">Disease Management
							</div>
							<div class="text clamp-3">The Bio10-Blanca project addresses the growing need for sustainable plant disease management solutions...</div>
							<a href="projects/bio10-blanca/" class="theme-btn btn-style-three">Learn More</a>
						</div>
					</article>
				</div>

				<!--Default Featured Column-->
				<div class="column default-featured-column col-md-3 col-sm-6 col-xs-12">
					<article class="inner-box">
						<figure class="image-box">
							<a href="projects/bio10-green/"><img src="images/resource/B10Green-tumb.jpg" alt=""></a>
						</figure>
						<div class="content-box">
							<h3 class="clamp-1"><a href="projects/bio10-green/">BIO10-GREEN</a></h3>
							<div class="column-info clamp-1">NATURAL FERTILISING SOLUTIONS</div>
							<div class="text clamp-3">The need for natural and effective fertilizers has become increasingly significant in
								sustainable agriculture ...</div>
							<a href="projects/bio10-green/" class="theme-btn btn-style-three">Learn More</a>
						</div>
					</article>
				</div>

				<!--Default Featured Column-->
				<div class="column default-featured-column col-md-3 col-sm-6 col-xs-12">
					<article class="inner-box">
						<figure class="image-box">
							<a href="projects/bio10-fruit-flower/"><img src="images/resource/b10fruit-tumb.jpg" alt=""></a>
						</figure>
						<div class="content-box">
							<h3 class="clamp-1"><a href="projects/bio10-fruit-flower/">BIO10-FRUIT & FLOWER</a></h3>
							<div class="column-info clamp-1">Natural plant enhancers</div>
							<div class="text clamp-3">In response to the increasing need for sustainable and environmentally friendly agricultural
								practices ...</div>
							<a href="projects/bio10-fruit-flower/" class="theme-btn btn-style-three">Learn More</a>
						</div>
					</article>
				</div>

				<!--Default Featured Column-->
				<div class="column default-featured-column col-md-3 col-sm-6 col-xs-12">
					<article class="inner-box">
						<figure class="image-box">
							<a href="projects/b-nature/"><img src="images/resource/B-Nature-tumb.jpg" alt=""></a>
						</figure>
						<div class="content-box">
							<h3 class="clamp-1"><a href="projects/b-nature/">B-NATURE</a></h3>
							<div class="column-info clamp-1">Advanced PLC-Controlled Rapid Organic Composter</div>
							<div class="text clamp-3">The development of efficient composting technologies is a critical aspect of
								modern waste management and ...</div>
							<a href="projects/b-nature/" class="theme-btn btn-style-three">Learn More</a>
						</div>
					</article>
				</div>

				<!--Default Featured Column-->
				<div class="column default-featured-column col-md-3 col-sm-6 col-xs-12">
					<article class="inner-box">
						<figure class="image-box">
							<a href="projects/500l-pilot/"><img src="images/resource/500L-PILOT-tumb.jpg" alt=""></a>
						</figure>
						<div class="content-box">
							<h3 class="clamp-1"><a href="projects/500l-pilot/">500L PILOT BIOPROCESS REACTOR</a></h3>
							<div class="column-info clamp-1">Advancing Bioprocessing with Scalable Pilot Reactors</div>
							<div class="text clamp-3">The 500L Pilot Bioprocess Reactor is an ongoing project that aims to advance
								scalable bioprocessing technology ...</div>
							<a href="projects/500l-pilot/" class="theme-btn btn-style-three">Learn More</a>
						</div>
					</article>
				</div>

				<!--Default Featured Column-->
				<div class="column default-featured-column col-md-3 col-sm-6 col-xs-12">
					<article class="inner-box">
						<figure class="image-box">
							<a href="projects/disease-management/"><img src="images/resource/DISEASE-MANAGEMENT-tumb.jpg" alt=""></a>
						</figure>
						<div class="content-box">
							<h3 class="clamp-1"><a href="projects/disease-management/">DISEASE MANAGEMENT</a></h3>
							<div class="column-info clamp-1">Innovative Solutions for Disease Protection</div>
							<div class="text clamp-3">Aims to revolutionize plant disease protection through
								natural, sustainable methods ...</div>
							<a href="projects/disease-management/" class="theme-btn btn-style-three">Learn More</a>
						</div>
					</article>
				</div>

				 <!--Default Featured Column-->
				 <div class="column default-featured-column col-md-3 col-sm-6 col-xs-12">
					<article class="inner-box">
						<figure class="image-box">
							<a href="projects/pest-insect-management/"><img src="images/resource/PEST-INSECT-MANAGEMENT-tumb.jpg" alt=""></a>
						</figure>
						<div class="content-box">
							<h3 class="clamp-1"><a href="projects/pest-insect-management/">PEST INSECT MANAGEMENT</a></h3>
							<div class="column-info clamp-1">ADVANCED SUSTAINABLE AND NATURAL INSECT
								PROTECTION</div>
							<div class="text clamp-3">The project is dedicated to developing innovative pest management
								solutions that are both effective and ...</div>
							<a href="projects/pest-insect-management/" class="theme-btn btn-style-three">Learn More</a>
						</div>
					</article>
				</div>

				 <!--Default Featured Column-->
				 <div class="column default-featured-column col-md-3 col-sm-6 col-xs-12">
					<article class="inner-box">
						<figure class="image-box">
							<a href="projects/natural-nano-biopolymers/"><img src="images/resource/NATURAL-NANO-BIOPOLYMERS-tumb.jpg" alt=""></a>
						</figure>
						<div class="content-box">
							<h3 class="clamp-1"><a href="projects/natural-nano-biopolymers/">NATURAL NANO BIOPOLYMERS</a></h3>
							<div class="column-info clamp-1">Innovative Biopolymer Development</div>
							<div class="text clamp-3">Using Organic Waste Streams, The Nano Biopolymer Project is focused on the development of cutting-edge
								natural ...</div>
							<a href="projects/natural-nano-biopolymers/" class="theme-btn btn-style-three">Learn More</a>
						</div>
					</article>
				</div>

			</div>



		</div>
	</section>

	{% include footer.html %}
</div>
<!--End pagewrapper-->

{% include scripts.html %}
</body>
</html>
