---
---
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>BIO10 |Agrobiotech PTY LTD</title>
	<!-- Stylesheets -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/revolution-slider.css" rel="stylesheet">
	<link href="css/style.css?id=1" rel="stylesheet">
	<!-- Responsive -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link href="css/responsive.css" rel="stylesheet">
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
<div class="page-wrapper">

	<!-- Preloader -->
	<div class="preloader"></div>

	{% include header.html active="projects" %}

	<!--Page Title-->
	<section class="page-title" style="background-image:url(images/background/page-title-bg.jpg);">
		<div class="auto-container">
			<div class="sec-title">
				<h1>Our <span class="normal-font">Projects</span></h1>
				<div class="bread-crumb"><a href="/">Home</a> / <a href="#" class="current">Projects</a></div>
			</div>
		</div>
	</section>


	<!--Projects Section-->
	<section class="projects-section">
		<div class="auto-container">

			<div class="row clearfix">

				<!--Default Featured Column-->
				<div class="column default-featured-column col-md-3 col-sm-6 col-xs-12">
					<article class="inner-box">
						<figure class="image-box">
							<a href="projects/Bio10-Protect.html"><img src="images/resource/b10-protect-tumb.jpg" alt=""></a>
						</figure>
						<div class="content-box">
							<h3 class="clamp-1"><a href="projects/Bio10-Protect.html">Bio10-Protect  </a></h3>
							<div class="column-info clamp-1">Pest Insect Management</div>
							<div class="text clamp-3">In modern agriculture, the need for sustainable and effective pest management solutions has...</div>
							<a href="projects/Bio10-Protect.html" class="theme-btn btn-style-three">Learn More</a>
						</div>
					</article>
				</div>

				<!--Default Featured Column-->
				<div class="column default-featured-column col-md-3 col-sm-6 col-xs-12">
					<article class="inner-box">
						<figure class="image-box">
							<a href="projects/Bio10-Kane.html"><img src="images/resource/b10kane-tumb.jpg" alt=""></a>
						</figure>
						<div class="content-box">
							<h3 class="clamp-1"><a href="projects/Bio10-Kane.html">BIO10-KANE</a></h3>
							<div class="column-info clamp-1">Pest Insect Management</div>
							<div class="text clamp-3">In modern agriculture, the need for sustainable and effective pest management solutions has...</div>
							<a href="projects/Bio10-Kane.html" class="theme-btn btn-style-three">Learn More</a>
						</div>
					</article>
				</div>

				<!--Default Featured Column-->
				<div class="column default-featured-column col-md-3 col-sm-6 col-xs-12">
					<article class="inner-box">
						<figure class="image-box">
							<a href="projects/Bio10-Blanca.html"><img src="images/resource/b10Blanca-tumb.jpg" alt=""></a>
						</figure>
						<div class="content-box">
							<h3 class="clamp-1"><a href="projects/Bio10-Blanca.html">Bio10 Blanca</a></h3>
							<div class="column-info clamp-1">Disease Management
							</div>
							<div class="text clamp-3">The Bio10-Blanca project addresses the growing need for sustainable plant disease management solutions...</div>
							<a href="projects/Bio10-Blanca.html" class="theme-btn btn-style-three">Learn More</a>
						</div>
					</article>
				</div>

				<!--Default Featured Column-->
				<div class="column default-featured-column col-md-3 col-sm-6 col-xs-12">
					<article class="inner-box">
						<figure class="image-box">
							<a href="projects/BIO10-Green.html"><img src="images/resource/B10Green-tumb.jpg" alt=""></a>
						</figure>
						<div class="content-box">
							<h3 class="clamp-1"><a href="projects/BIO10-Green.html">BIO10-GREEN</a></h3>
							<div class="column-info clamp-1">NATURAL FERTILISING SOLUTIONS</div>
							<div class="text clamp-3">The need for natural and effective fertilizers has become increasingly significant in
								sustainable agriculture ...</div>
							<a href="projects/BIO10-Green.html" class="theme-btn btn-style-three">Learn More</a>
						</div>
					</article>
				</div>

				<!--Default Featured Column-->
				<div class="column default-featured-column col-md-3 col-sm-6 col-xs-12">
					<article class="inner-box">
						<figure class="image-box">
							<a href="projects/Bio10-Fruit-Flower.html"><img src="images/resource/b10fruit-tumb.jpg" alt=""></a>
						</figure>
						<div class="content-box">
							<h3 class="clamp-1"><a href="projects/Bio10-Fruit-Flower.html">BIO10-FRUIT & FLOWER</a></h3>
							<div class="column-info clamp-1">Natural plant enhancers</div>
							<div class="text clamp-3">In response to the increasing need for sustainable and environmentally friendly agricultural
								practices ...</div>
							<a href="projects/Bio10-Fruit-Flower.html" class="theme-btn btn-style-three">Learn More</a>
						</div>
					</article>
				</div>

				<!--Default Featured Column-->
				<div class="column default-featured-column col-md-3 col-sm-6 col-xs-12">
					<article class="inner-box">
						<figure class="image-box">
							<a href="projects/B-Nature.html"><img src="images/resource/B-Nature-tumb.jpg" alt=""></a>
						</figure>
						<div class="content-box">
							<h3 class="clamp-1"><a href="projects/B-Nature.html">B-NATURE</a></h3>
							<div class="column-info clamp-1">Advanced PLC-Controlled Rapid Organic Composter</div>
							<div class="text clamp-3">The development of efficient composting technologies is a critical aspect of
								modern waste management and ...</div>
							<a href="projects/B-Nature.html" class="theme-btn btn-style-three">Learn More</a>
						</div>
					</article>
				</div>

				<!--Default Featured Column-->
				<div class="column default-featured-column col-md-3 col-sm-6 col-xs-12">
					<article class="inner-box">
						<figure class="image-box">
							<a href="projects/500L-PILOT.html"><img src="images/resource/500L-PILOT-tumb.jpg" alt=""></a>
						</figure>
						<div class="content-box">
							<h3 class="clamp-1"><a href="projects/500L-PILOT.html">500L PILOT BIOPROCESS REACTOR</a></h3>
							<div class="column-info clamp-1">Advancing Bioprocessing with Scalable Pilot Reactors</div>
							<div class="text clamp-3">The 500L Pilot Bioprocess Reactor is an ongoing project that aims to advance
								scalable bioprocessing technology ...</div>
							<a href="projects/500L-PILOT.html" class="theme-btn btn-style-three">Learn More</a>
						</div>
					</article>
				</div>

				<!--Default Featured Column-->
				<div class="column default-featured-column col-md-3 col-sm-6 col-xs-12">
					<article class="inner-box">
						<figure class="image-box">
							<a href="projects/DISEASE-MANAGEMENT.html"><img src="images/resource/DISEASE-MANAGEMENT-tumb.jpg" alt=""></a>
						</figure>
						<div class="content-box">
							<h3 class="clamp-1"><a href="projects/DISEASE-MANAGEMENT.html">DISEASE MANAGEMENT</a></h3>
							<div class="column-info clamp-1">Innovative Solutions for Disease Protection</div>
							<div class="text clamp-3">Aims to revolutionize plant disease protection through
								natural, sustainable methods ...</div>
							<a href="projects/DISEASE-MANAGEMENT.html" class="theme-btn btn-style-three">Learn More</a>
						</div>
					</article>
				</div>

				 <!--Default Featured Column-->
				 <div class="column default-featured-column col-md-3 col-sm-6 col-xs-12">
					<article class="inner-box">
						<figure class="image-box">
							<a href="projects/PEST-INSECT-MANAGEMENT.html"><img src="images/resource/PEST-INSECT-MANAGEMENT-tumb.jpg" alt=""></a>
						</figure>
						<div class="content-box">
							<h3 class="clamp-1"><a href="projects/PEST-INSECT-MANAGEMENT.html">PEST INSECT MANAGEMENT</a></h3>
							<div class="column-info clamp-1">ADVANCED SUSTAINABLE AND NATURAL INSECT
								PROTECTION</div>
							<div class="text clamp-3">The project is dedicated to developing innovative pest management
								solutions that are both effective and ...</div>
							<a href="projects/PEST-INSECT-MANAGEMENT.html" class="theme-btn btn-style-three">Learn More</a>
						</div>
					</article>
				</div>

				 <!--Default Featured Column-->
				 <div class="column default-featured-column col-md-3 col-sm-6 col-xs-12">
					<article class="inner-box">
						<figure class="image-box">
							<a href="projects/NATURAL-NANO-BIOPOLYMERS.html"><img src="images/resource/NATURAL-NANO-BIOPOLYMERS-tumb.jpg" alt=""></a>
						</figure>
						<div class="content-box">
							<h3 class="clamp-1"><a href="projects/NATURAL-NANO-BIOPOLYMERS.html">NATURAL NANO BIOPOLYMERS</a></h3>
							<div class="column-info clamp-1">Innovative Biopolymer Development</div>
							<div class="text clamp-3">Using Organic Waste Streams, The Nano Biopolymer Project is focused on the development of cutting-edge
								natural ...</div>
							<a href="projects/NATURAL-NANO-BIOPOLYMERS.html" class="theme-btn btn-style-three">Learn More</a>
						</div>
					</article>
				</div>

			</div>



		</div>
	</section>

	{% include footer.html %}
</div>
<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>


<!-- /.modal -->

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/revolution.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
</body>
</html>
