<header class="main-header">
	<div class="top-bar">
		<div class="top-container">
			<!--Info Outer-->
			 <div class="info-outer">
				<!--Info Box-->
				<ul class="info-box clearfix">
					<li><span class="icon flaticon-interface"></span><a href="mailto:info@bio10.com.au">info@bio10.com.au</a></li>
					<li><span class="icon flaticon-technology-5"></span><a href="tel:0755934441">(07) 5593 4441</a></li>
					<li class="social-links-one">
						<a href="https://www.linkedin.com/company/bio10" class="linkedin img-circle">
							<span class="fa fa-linkedin"></span>
						</a>

						<a href="https://www.instagram.com/bio10.au?igsh=cWtoN2t6bGpvNXdh" class="instagram img-circle">
							<span class="fa fa-instagram"></span>
						</a>

					</li>
				</ul>
			 </div>
		</div>
	</div>
	<!-- Header Upper -->
	<div class="header-upper">
		<div class="auto-container clearfix">
			<!-- Logo -->
			<div class="logo">
				<a href="/">
					{% include logo.html %}
				</a>
			 </div>

			 <!--Nav Outer-->
			<div class="nav-outer clearfix">

				<a href="/contact.html" class="theme-btn btn-donate" >Contact Us</a>

				<!-- Main Menu -->
				<nav class="main-menu">

					<div class="navbar-header">
						<!-- Toggle Button -->
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<div class="navbar-collapse collapse clearfix">
						<ul class="navigation">
							<li class="{% if include.active == "home" %}current{% endif %}">
								<a href="/">Home</a>
							</li>

							<li class="{% if include.active == "about" %}current{% endif %}">
								<a href="/about.html">About</a>
								
							</li>

							<li class="{% if include.active == "projects" %}current{% endif %}">
								<a href="/projects.html">Projects</a>
								<ul class="dropdown">
									<li><a href="/projects/500l-pilot/index.html">500L Pilot Bioprocess Reactor</a></li>
									<li><a href="/projects/b-nature/index.html">B Nature</a></li>
									<li><a href="/projects/bio10-blanca/index.html">Bio10-Blanca - Disease Management</a></li>
									<li><a href="/projects/bio10-fruit-flower/index.html">Bio10-Fruit & Flower - Natural plant enhancers</a></li>
									<li><a href="/projects/bio10-green/index.html">Bio10-Green - Natural Fertilising Solutions</a></li>
									<li><a href="/projects/bio10-kane/index.html">Bio10-Kane - Pest Insect Management</a></li>
									<li><a href="/projects/bio10-protect/index.html">Bio10-Protect - Pest Insect Management</a></li>
									<li><a href="/projects/disease-management/index.html">Disease Management</a></li>
									<li><a href="/projects/natural-nano-biopolymers/index.html">Natural Nano Biopolymers</a></li>
									<li><a href="/projects/pest-insect-management/index.html">PEST Insect Management</a></li>
									
								</ul>
							</li>

							<!-- <li>
								<a href="#">Products</a>
							</li> -->
						</ul>
					</div>
				</nav><!-- Main Menu End-->

			</div>

		</div>
	</div><!-- Header Top End -->

</header>
