					<div class="widget recent-posts wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="sidebar-title"><h3>Latest Projects</h3></div>

						<article class="post">
							<figure class="post-thumb"><img src="/images/resource/b10-protect-tumb.jpg" alt=""></figure>
							<h4><a href="/projects/bio10-protect/">Bio10-Protect</a></h4>
							<div class="post-info"><span class="icon flaticon-people-1"></span>Pest Insect Management</div>
						</article>

						 <article class="post">
							<figure class="post-thumb"><img src="/images/resource/b10kane.jpg" alt=""></figure>
							<h4><a href="/projects/bio10-kane/">Bio10-Kane</a></h4>
							<div class="post-info"><span class="icon flaticon-people-1"></span> Pest Insect Management </div>
						</article>

						<article class="post">
							<figure class="post-thumb"><img src="/images/resource/b10Blanca-tumb.jpg" alt=""></figure>
							<h4><a href="/projects/bio10-blanca/">Bio10-Blanca</a></h4>
							<div class="post-info"><span class="icon flaticon-people-1"></span>Disease Management</div>
						</article>

					</div>
