						<div class="related-posts-carousel">
							<!--Post-->
							<div class="column default-featured-column">
								<article class="inner-box">
									<figure class="image-box">
										<a href="/projects/bio10-protect/"><img src="/images/resource/b10-protect.jpg" alt=""></a>
									</figure>
									<div class="content-box">
										<h3><a href="/projects/bio10-protect/">Bio10 Protect</a></h3>
										<div class="column-info">Pest Insect Management</div>
										<a href="/projects/bio10-protect/" class="theme-btn btn-style-three">Learn More</a>
									</div>
								</article>
							</div>

							<!--Post-->
							<div class="column default-featured-column">
								<article class="inner-box">
									<figure class="image-box">
										<a href="/projects/bio10-kane/"><img src="/images/resource/b10kane.jpg" alt=""></a>
									</figure>
									<div class="content-box">
										<h3><a href="/projects/bio10-kane/">Bio10-Kane</a></h3>
										<div class="column-info">Pest Insect Management</div>
										<a href="/projects/bio10-kane/" class="theme-btn btn-style-three">Learn More</a>
									</div>
								</article>
							</div>

							<!--Post-->
							<div class="column default-featured-column">
								<article class="inner-box">
									<figure class="image-box">
										<a href="/projects/bio10-blanca/"><img src="/images/resource/b10Blanca.jpg" alt=""></a>
									</figure>
									<div class="content-box">
										<h3><a href="/projects/bio10-blanca/">Bio10-Blanca</a></h3>
										<div class="column-info">Disease Management</div>
										<a href="/projects/bio10-blanca/" class="theme-btn btn-style-three">Learn More</a>
									</div>
								</article>
							</div>
						</div>
